@import "sidebar.css";
@import "dashboard.css";
@import "pemeriksaan.css";
@import "data_lansia.css";
@import "data_petugas.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter',
        sans-serif;
    /* Menyamakan semua teks */
}

input,
textarea,
select,
table,
button {
    font-family: inherit;
    font-size: inherit;
    color: #1e293b;
}